<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title class="text-white font-bold">Mis Lavados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="mt-6 bg-white fixed z-10 rounded-t-3xl w-full h-9">
    <div class="flex justify-center">
      <div class="px-5 rounded-lg flex bg-white mt-[-1rem] shadow-lg h-8">
        <div class="flex items-center">
            <p (click)="nextWashesClicked()" [ngClass]="{'bg-gradient text-white rounded-lg': nextWashesSelected, 'text-principal': !nextWashesSelected }"
               class="px-6">Próximos
            </p>
        </div>
        <div class="flex items-center">
            <p (click)="antiqueWashesClicked()" [ngClass]="{'bg-gradient text-white rounded-lg': !nextWashesSelected, 'text-principal': nextWashesSelected }"
               class="px-6">Anteriores
            </p>
        </div>
    </div>
  </div>
</div>
<div *ngIf="!((nextWashesSelected && nextWashes?.length === 0) || (!nextWashesSelected && antiqueWashes?.length === 0))" class="scroll bg-white h-full">
  <div *ngFor="let wash of selectedWashes" class="shadow-2xl rounded-xl my-10 mx-4">
      <p class="text-center text-gray-300 font-semibold">{{wash.product_detail.title + ' ' + wash.product_detail.price/100 + '€'}}</p>
      <p class="ml-2 font-semibold text-base text-gradient">{{wash.car_detail.brand + ' '+ wash.car_detail.model}}</p>
      <p class="ml-2 font-semibold text-gray-300">{{wash.car_detail.plate}}</p>
      <p class="ml-2 font-semibold text-base text-gradient">{{wash.location_detail.type}}</p>
      <p class="ml-2 font-semibold text-gray-300">{{wash.location_detail.street}}</p>
      <p class="ml-2 font-semibold text-base text-gradient"> Fecha y Hora</p>
      <p class="ml-2 font-semibold text-gray-300">{{wash.date}}</p>
  </div>
</div>
<div *ngIf="(nextWashesSelected && nextWashes?.length === 0) || (!nextWashesSelected && antiqueWashes?.length === 0) " class="scroll bg-white h-full flex flex-col justify-center items-center">
  <img src="assets/images/car-wash-icon-24.jpg">
  <p class="text-2xl font-semibold">No tiene lavados</p>
  <p class="text-gray-300 mx-12 text-center">Si considera que esto se trata de un error no dude en contactar con nosotros.</p>
</div>

</ion-content>
