<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title class="text-xl font-medium text-principal text-center">Compra</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="h-full flex items-center flex-col justify-center">
    <img class="w-56 h-56" src="assets/images/check.jpg">
    <p class="text-lg text-principal font-bold">Compra realizada con éxito</p>
    <p class="text-gray-300 text-center mx-20 mt-2">Muchas Gracias por confiar en nosotros.</p>
  </div>

</ion-content>
