.toolbar-title-default {
  --background: #FFFFFF;
}
ion-content {
  --background: #FFFFFF;
}
.addButton {
  width: fit-content;
}
ion-input {
  @apply bg-gray-300;
}
ion-modal {
  ion-content {
    --background: white;
  }
  .toolbar-title-default {
    --background: white;
  }
}
