.toolbar-title-default {
  --background: #FFFFFF;
}
ion-content {
  --background: #FFFFFF;
}
.addButton {
  width: fit-content;
}
ion-input {
  @apply bg-gray-300;
}
ion-modal {
  ion-content {
    --background: white;
  }
  .toolbar-title-default {
    --background: white;
  }
}
::ng-deep {
  lib-toastify-toast-container {
    .toast--error{
      background-color: #01C6D2 !important;
    }
  }
}
