<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>&nbsp;</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="mt-6 bg-white fixed z-10 rounded-t-3xl w-full">
      <div class="flex justify-center">
        <img class="rounded-full mt-[-1.5rem] mb-2" [src]="'https://ui-avatars.com/api/?name=Ismael'">
      </div>
        <p class="font-semibold text-base text-center mb-4">Ismael Santiago</p>
    </div>
    <div class="scroll bg-white h-full">

      <div class="flex mt-16 mx-4 items-center shadow-2xl h-10">
        <div class="w-8 h-8 rounded-xl bg-gray-200 flex justify-center items-center">
          <ion-icon class="text-icons" name="pencil-outline"></ion-icon>
        </div>
        <p class="ml-2 font-semibold text-base text-gradient">Editar perfil</p>
      </div>

      <div class="flex m-4 items-center shadow-2xl h-10">
        <div class="w-8 h-8 rounded-xl bg-gray-200 flex justify-center items-center">
          <ion-icon class="text-icons" name="navigate-outline"></ion-icon>
        </div>
        <p class="ml-2 font-semibold text-base text-gradient">Ubicaciones guardadas</p>
      </div>

      <div class="flex m-4 items-center shadow-2xl h-10">
        <div class="w-8 h-8 rounded-xl bg-gray-200 flex justify-center items-center">
          <ion-icon class="text-icons" name="car-sport-outline"></ion-icon>
        </div>
        <p class="ml-2 font-semibold text-base text-gradient">Coches favoritos</p>
      </div>

      <div class="flex m-4 items-center shadow-2xl h-10">
        <div class="w-8 h-8 rounded-xl bg-gray-200 flex justify-center items-center">
          <ion-icon class="text-icons" name="help-circle-outline"></ion-icon>
        </div>
        <p class="ml-2 font-semibold text-base text-gradient">Preguntas Frecuentes</p>
      </div>

    </div>

</ion-content>
