<div class="shadow-2xl grid grid-cols-[3rem_auto_3rem] flex items-center">
  <div (click)="openModal()" class="ml-2 w-8 h-8 rounded-xl bg-gray-200 flex justify-center items-center row-span-3">
    <ion-icon class="text-icons" name="navigate-outline"></ion-icon>
  </div>
  <div (click)="openModal()" class="col-span-1">
    <p class="ml-2 font-semibold text-base text-gradient">{{location.type}}</p>
    <p class="ml-2 font-semibold text-gray-300">{{location.street}}</p>
  </div>
  <div (click)="presentActionSheet()" class="row-span-3 flex text-icons justify-end">
    <ion-icon class="mr-2 w-6 h-6" name="trash-outline"></ion-icon>
  </div>
</div>
<ion-modal [isOpen]="displayModal" #modal [swipeToClose]="false">
  <ng-template>
    <ion-header class="ion-no-border">
      <ion-toolbar color="tertiary">
        <ion-title class="font-bold text-base text-principal">Crear Ubicación</ion-title>
        <ion-buttons slot="end">
          <ion-button class="text-gradient" (click)="closeModal()">X</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content color="tertiary" class="ion-padding">
      <form [formGroup]="credentials" (ngSubmit)="editLocation()">
        <div class="mx-4">
          <p class="text-gray-400 items-center font-normal">Tipo de ubicación*</p>
          <ion-input class="rounded-lg text-black mb-4 text-base border-0" type="text" formControlName="type" placeholder="Casa"></ion-input>
          <p class="text-gray-400 items-center font-normal">Provincia*</p>
          <ion-input class="rounded-lg text-black mb-4 text-base border-0" type="email" formControlName="province" placeholder="Las Palmas"></ion-input>
          <p class="text-gray-400 items-center font-normal">Código postal*</p>
          <ion-input class="rounded-lg text-black mb-4 text-base border-0" type="tel" formControlName="postal_code" placeholder="35215"></ion-input>
          <p class="text-gray-400 items-center font-normal">Calle*</p>
          <ion-input class="rounded-lg text-black mb-4 text-base border-0" type="tel" formControlName="street"placeholder="Calle Arencibia, 5"></ion-input>
          <div class="flex justify-center">
            <ion-button color="primary" [disabled]="credentials.invalid" type="submit" class="mb-3">Editar</ion-button>
          </div>
        </div>
      </form>
    </ion-content>
  </ng-template>
</ion-modal>
