<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="text-xl font-medium text-white">Inicio de Sesión</ion-title>
  </ion-toolbar>
  <lib-toastify-toast-container></lib-toastify-toast-container>
</ion-header>

<ion-content>
  <form [formGroup]="credentials" (ngSubmit)="login()">
    <div class="flex justify-center my-4 mx-4">
      <img class="text-center rounded-full" src="assets/images/CleanCanLogo.png">
    </div>
    <div class="mx-4">
      <p class="text-xs items-center font-normal">Correo*</p>
      <ion-input class="rounded-lg bg-white mb-4 text-base border-0" type="email" placeholder="ismael.santiago@gmail.com" formControlName="email"></ion-input>
      <p class="text-xs items-center font-normal">Contraseña*</p>
      <ion-input class="rounded-lg bg-white mb-4 text-base border-0" type="password" placeholder="Contraseña" formControlName="password"></ion-input>
      <div class="my-5 text-center items-center font-normal text-xs underline">
        <a routerLink="/register">¿Todavía no tienes cuenta?</a>
      </div>
      <div class="flex justify-center">
        <ion-button [disabled]="credentials.invalid" type="submit" class="mb-3">Iniciar Sesión</ion-button>
      </div>
    </div>
  </form>
</ion-content>
