<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title class="text-xl font-medium text-white text-center">Registro</ion-title>
  </ion-toolbar>
  <lib-toastify-toast-container></lib-toastify-toast-container>
</ion-header>
<ion-content>
  <form [formGroup]="credentials" (ngSubmit)="register()">
    <div class="flex justify-center my-4 mx-4">
      <img class="text-center rounded-full" src="assets/images/CleanCanLogo.png">
    </div>
    <div class="mx-4">
      <p class="text-xs items-center font-normal text-black">Nombre*</p>
      <ion-input class="rounded-lg bg-white mb-4 text-base border-0 text-black" type="text" placeholder="Ismael Santiago" formControlName="name"></ion-input>
      <p class="text-xs items-center font-normal text-black">Correo*</p>
      <ion-input class="rounded-lg bg-white mb-4 text-base border-0 text-black" type="email" placeholder="ismael.santiago@gmail.com" formControlName="email"></ion-input>
      <p class="text-xs items-center font-normal text-black">Contraseña*</p>
      <ion-input class="rounded-lg bg-white mb-4 text-base border-0 text-black" type="password" placeholder="Contraseña" formControlName="password"></ion-input>
      <p class="text-xs items-center font-normal text-black">
        La contraseña debe:
      </p>
      <ul class="text-xs items-center font-normal text-black">
        <li>- Contener al menos 8 caracteres</li>
        <li>- Contener al menos dos números</li>
        <li>- Contener al menos una mayúscula</li>
      </ul>
      <p class="text-xs items-center font-normal mt-4 text-black">Repetir Contraseña*</p>
      <ion-input class="rounded-lg bg-white mb-4 text-base border-0 text-black" type="password" placeholder="Repetir Contraseña" formControlName="password_confirmation"></ion-input>
      <p class="text-xs items-center font-normal text-black">Teléfono de contacto*</p>
      <ion-input class="rounded-lg bg-white mb-4 text-base border-0 text-black" type="tel" placeholder="626458902" formControlName="phone_number"></ion-input>
      <div class="pt-4 pl-14 pr-14 text-xs items-center font-normal pb-4">
        <input type="checkbox" formControlName="checkBox" >
        <label> Aceptar <label class="underline" routerLink="term">Terminos y condiciones</label> </label>
      </div>
    </div>
    <div class="flex justify-center">
      <ion-button [disabled]="credentials.invalid" type="submit" class="mb-3">Registrarse</ion-button>
    </div>
  </form>
</ion-content>
