<ion-content>
  <div class="grow bg-pm py-4 h-full">
    <lib-toastify-toast-container [autoClose]="4250"></lib-toastify-toast-container>
    <div class="flex justify-center items-center">
      <ion-icon (click)="redirectToLogin()" md="arrow-back-outline" ios="chevron-back-outline" class="w-5 h-5 absolute left-0 text-white ml-5 items-start"></ion-icon>
      <p class="text-center text-lg text-white font-montserrat ml-1">Contraseña</p>
    </div>
    <div *ngIf="!emailSent">
      <p class="text-xl text-white mt-10 mx-14 text-center font-semibold">¿No recuerdas tu contraseña?</p>
      <p class="text-base text-white mt-6 mx-10 text-center">No te preocupes. Ingresa tu correo electrónico y te ayudaremos a reestablecer tu contraseña.</p>
      <form [formGroup]="credentials" (ngSubmit)="sendPasswordResetEmail()">
        <div class="mx-10 my-10">
          <fieldset class="mb-2">
            <ion-label class="text-xs mb-1 text-white">Correo electrónico*</ion-label>
            <ion-input type="text" placeholder="Escribe aquí tu correo"
                       class="rounded-lg text-darkgrey border-none"
                       formControlName="email"
            ></ion-input>
          </fieldset>
        </div>
        <div class="flex justify-center mb-6 mt-32">
          <ion-button [disabled]="credentials.invalid" type="submit" class="bg-white capitalize rounded-xl text-darkblue font-montserrat font-medium w-56">
            Enviar
          </ion-button>
        </div>
      </form>
    </div>
    <div *ngIf="emailSent">
      <p class="text-base text-white mt-10 mx-10 text-center">Acabamos de enviarte las instrucciones para ayudarte a reestablecer tu contraseña al siguiente correo electrónico</p>
      <p class="text-l text-white mt-10 mx-10 text-center font-semibold">{{credentials.value.email}}</p>
      <p class="text-base text-white mt-10 mx-10 text-center">Si no visualizas el mensaje no olvides revisar  tu bandeja de SPAM.</p>

      <div class="flex justify-center mb-6 mt-32">
        <ion-button (click)="redirectToLogin()"  type="button" class="bg-white capitalize rounded-xl text-darkblue font-montserrat font-medium w-56">
          Aceptar
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>
