<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title class="text-white">Términos Legales</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="prose max-w-none px-4 py-8 text-white">
    <p>    CleanCan S.L., en aplicación de la normativa vigente en materia de protección de datos de carácter personal, informa que los datos personales , se incluyen en los ficheros automatizados específicos de usuarios de los servicios de CleanCan S.L.
    </p>
    <p>    La recogida y tratamiento automatizado de los datos de carácter personal tiene como finalidad el mantenimiento de la relación comercial y el desempeño de tareas de información, formación, asesoramiento y otras actividades propias de CleanCan S.L.
    </p>
    <p>    Estos datos únicamente serán cedidos a aquellas entidades que sean necesarias con el único objetivo de dar cumplimiento a la finalidad anteriormente expuesta.
    </p>
    <p>    CleanCan S.L. adopta las medidas necesarias para garantizar la seguridad, integridad y confidencialidad de los datos conforme a lo dispuesto en el Reglamento (UE) 2016/679 del Parlamento Europeo y del Consejo, de 27 de abril de 2016, relativo a la protección de las personas físicas en lo que respecta al tratamiento de datos personales y a la libre circulación de los mismos, y derogando la antigua LOPD, la nueva Ley Orgánica 3/2018, de 5 diciembre, de Protección de Datos y Garantía de los Derechos Digitales (LOPDGDD).

    <p>    El usuario manifiesta que todos los datos facilitados por él son ciertos y correctos, y se compromete a mantenerlos actualizados, comunicando los cambios a CleanCan S.L..
    </p>
    <p>    FINALIDAD DEL TRATAMIENTO DE LOS DATOS PERSONALES
    </p>
    <p>    ¿Con qué finalidad trataremos tus datos personales?
    </p>
    <p>    En CleanCan S.L., trataremos tus datos personales recabados a través del Sitio Web, con las siguientes finalidades:
    </p>
    <p>    Dar cumplimiento de las obligaciones, comerciales, laborales, corporativas y contables de la empresa.
    </p>
    <p>    Prestar sus servicios de acuerdo con las necesidades particulares de los clientes, con el fin de cumplir los contratos suscritos por la misma.
    </p>
    <p>    Envío de información comercial y boletines sobre nuevos servicios ofrecidos en la web y del sector.
    </p>
    <p>    Cumplir con los procesos internos de la empresa en materia de administración de proveedores y contratistas.
    </p>
    <p>    El proceso de archivo, de actualización de los sistemas, de protección y custodia de información y bases de datos de la empresa.
    </p>
    <p>    La transmisión de datos a terceros y empresas asociadas con los cuales se hayan celebrado contratos con este objeto, para fines comerciales, contractuales, administrativos, de mercadeo y/o operativos.
    </p>
    <p>    Con propósitos de seguridad o prevención de fraude.
    </p>
    <p>    Ejecutar un contrato suscrito a distancia con el usuario.
    </p>
    <p>    Adquirir los productos ofrecidos a través de la página web.
    </p>
    <p>    Prestar los servicios contratados por el usuario.
    </p>
    <p>    Enviar información promocional vía electrónica.
    </p>
    <p>    Facilitar la información solicitada por el usuario a través del formulario de contacto.
    </p>
    <p>    Gestión de reservas
    </p>
    <p>    Te recordamos que puedes oponerte al envío de comunicaciones comerciales por cualquier vía y en cualquier momento, remitiendo un correo electrónico a la dirección anteriormente indicada.
    </p>
    <p>    Los campos de dichos registros son de cumplimentación obligatoria, siendo imposible realizar las finalidades expresadas si no se aportan esos datos.
    </p>
    <p>    ¿Por cuánto tiempo se conservan los datos personales recabados?
    </p>
    <p>    Los datos personales proporcionados se conservarán mientras se mantenga la relación comercial o no solicites su supresión y durante el plazo por el cuál pudieran derivarse responsabilidades legales por los servicios prestados.
    </p>
    <p>    Legitimación
    </p>
    <p>    El tratamiento de tus datos se realiza con las siguientes bases jurídicas que legitiman el mismo:
    </p>
    <p>    La solicitud de información y/o la contratación de los servicios de CleanCan S.L., cuyos términos y condiciones se pondrán a tu disposición en todo caso, de forma previa a una eventual contratación.
    </p>
    <p>    El consentimiento libre, específico, informado e inequívoco, en tanto que te informamos poniendo a tu disposición la presente política de privacidad, que tras la lectura de la misma, en caso de estar conforme, puedes aceptar mediante una declaración o una clara acción afirmativa, como el marcado de una casilla dispuesta al efecto.
    </p>
    <p>    En caso de que no nos facilites tus datos o lo hagas de forma errónea o incompleta, no podremos atender tu solicitud, resultando del todo imposible proporcionarte la información solicitada o llevar a cabo la contratación de los servicios.
    </p>
    <p>    Destinatarios
    </p>
    <p>    Los datos no se comunicarán a ningún tercero ajeno a CleanCan S.L y a las empresas asociadas y sus proveedores, salvo obligación legal.
    </p>
    <p>    Datos recopilados por usuarios de los servicios
    </p>
    <p>    En los casos en que el usuario incluya ficheros con datos de carácter personal en los servidores de alojamiento compartido, CleanCan S.L. no se hace responsable del incumplimiento por parte del usuario del RGPD.
    </p>
    <p>    Propiedad intelectual del software
    </p>
    <p>    El usuario debe respetar los programas de terceros puestos a su disposición por CleanCan S.L., aún siendo gratuitos y/o de disposición pública.
    </p>
    <p>    CleanCan S.L. dispone de los derechos de explotación y propiedad intelectual necesarios del software.
    </p>
    <p>    El usuario no adquiere derecho alguno o licencia por el servicio contratado, sobre el software necesario para la prestación del servicio, ni tampoco sobre la información técnica de seguimiento del servicio, excepción hecha de los derechos y licencias necesarios para el cumplimiento de los servicios contratados y únicamente durante la duración de los mismos.
    </p>
    <p>    Para toda actuación que exceda del cumplimiento del contrato, el usuario necesitará autorización por escrito por parte de CleanCan S.L., quedando prohibido al usuario acceder, modificar, visualizar la configuración, estructura y ficheros de los servidores propiedad de CleanCan S.L., asumiendo la responsabilidad civil y penal derivada de cualquier incidencia que se pudiera producir en los servidores y sistemas de seguridad como consecuencia directa de una actuación negligente o maliciosa por su parte.
    </p>
    <p>    Propiedad intelectual de los contenidos alojados
    </p>
    <p>    Se prohíbe el uso contrario a la legislación sobre propiedad intelectual de los servicios prestados por CleanCan S.L. y, en particular de:
    </p>
    <p>    La utilización que resulte contraria a las leyes españolas o que infrinja los derechos de terceros.
    </p>
    <p>    La publicación o la transmisión de cualquier contenido que, a juicio de CleanCan S.L., resulte violento, obsceno, abusivo, ilegal, racial, xenófobo o difamatorio.
    </p>
    <p>    Los cracks, números de serie de programas o cualquier otro contenido que vulnere derechos de la propiedad intelectual de terceros.
    </p>
    <p>    La recogida y/o utilización de datos personales de otros usuarios sin su consentimiento expreso o contraviniendo lo dispuesto en el Reglamento (UE) 2016/679 del Parlamento Europeo y del Consejo, de 27 de abril de 2016, relativo a la protección de las personas físicas en lo que respecta al tratamiento de datos personales y a la libre circulación de los mismos.
    </p>
    <p>    La utilización del servidor de correo del dominio y de las direcciones de correo electrónico para el envío de correo masivo no deseado.
    </p>
    <p>    El usuario tiene toda la responsabilidad sobre el contenido de su web, la información transmitida y almacenada, los enlaces de hipertexto, las reivindicaciones de terceros y las acciones legales en referencia a propiedad intelectual, derechos de terceros y protección de menores.
    </p>
    <p>    El usuario es responsable respecto a las leyes y reglamentos en vigor y las reglas que tienen que ver con el funcionamiento del servicio online, comercio electrónico, derechos de autor, mantenimiento del orden público, así como principios universales de uso de Internet.
    </p>
    <p>    El usuario indemnizará a CleanCan S.L. por los gastos que generara la imputación de CleanCan S.L. en alguna causa cuya responsabilidad fuera atribuible al usuario, incluidos honorarios y gastos de defensa jurídica, incluso en el caso de una decisión judicial no definitiva.
    </p>
    <p>    Protección de la información alojada
    </p>
    <p>    CleanCan S.L. realiza copias de seguridad de los contenidos alojados en sus servidores, sin embargo no se responsabiliza de la pérdida o el borrado accidental de los datos por parte de los usuarios. De igual manera, no garantiza la reposición total de los datos borrados por los usuarios, ya que los citados datos podrían haber sido suprimidos y/o modificados durante el periodo del tiempo transcurrido desde la última copia de seguridad.
    </p>
    <p>    Los servicios ofertados, excepto los servicios específicos de backup, no incluyen la reposición de los contenidos conservados en las copias de seguridad realizadas por CleanCan S.L., cuando esta pérdida sea imputable al usuario; en este caso, se determinará una tarifa acorde a la complejidad y volumen de la recuperación, siempre previa aceptación del usuario.
    </p>
    <p>    La reposición de datos borrados sólo está incluida en el precio del servicio cuando la pérdida del contenido sea debida a causas atribuibles a CleanCan S.L..
    </p>
    <p>    Comunicaciones comerciales
    </p>
    <p>    En aplicación de la LSSI. CleanCan S.L. no enviará comunicaciones publicitarias o promocionales por correo electrónico u otro medio de comunicación electrónica equivalente que previamente no hubieran sido solicitadas o expresamente autorizadas por los destinatarios de las mismas.
    </p>
    <p>    En el caso de usuarios con los que exista una relación contractual previa, CleanCan S.L. sí está autorizado al envío de comunicaciones comerciales referentes a productos o servicios de CleanCan S.L. que sean similares a los que inicialmente fueron objeto de contratación con el cliente.
    </p>
    <p>    En todo caso, el usuario, tras acreditar su identidad, podrá solicitar que no se le haga llegar más información comercial a través de los canales de Atención al Cliente.
    </p>
    <p>    REV: 25.05.2021
    </p>
  </div>
</ion-content>
