<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>&nbsp;</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="mt-6 bg-white fixed z-10 rounded-t-3xl w-full">
    <p class="m-4 font-bold text-base text-gray-400 mb-4">Pide tu lavado</p>
  </div>
  <div class="scroll bg-white h-full">
    <div class="mx-4 my-10" *ngFor="let wash of washes">
      <app-wash [wash] = "wash"></app-wash>
    </div>
  </div>
</ion-content>
