<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title class="text-principal text-center mr-6">Coches guardados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor="let car of cars" class="mt-10 mx-4">
    <app-car (cars)="updateCars($event)" [car] = car></app-car>
  </div>
  <ion-button (click)="openModal()" class="my-6 mx-4">
    Añadir coche
  </ion-button>
  <ion-modal [isOpen]="displayModal" #modal [swipeToClose]="false">
    <ng-template>
      <ion-header class="ion-no-border">
        <ion-toolbar>
          <ion-title class="font-bold text-base text-principal text-center">Añdir nuevo coche</ion-title>
          <ion-buttons slot="end">
            <div class="text-gradient mr-2" (click)="closeModal()">X</div>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <form [formGroup]="credentials" (ngSubmit)="addNewCar()">
          <div class="mx-4">
            <p class="text-gray-400 items-center font-normal">Marca*</p>
            <ion-input class="rounded-lg text-black mb-4 text-base border-0" type="text" formControlName="brand" placeholder="Dacia"></ion-input>
            <p class="text-gray-400 items-center font-normal">Modelo*</p>
            <ion-input class="rounded-lg text-black mb-4 text-base border-0" type="text" formControlName="model" placeholder="Duster"></ion-input>
            <p class="text-gray-400 items-center font-normal">Matrícula*</p>
            <ion-input class="rounded-lg text-black mb-4 text-base border-0" type="text" formControlName="plate" placeholder="3521-FTE"></ion-input>
            <p class="text-gray-400 items-center font-normal">Color*</p>
            <ion-input class="rounded-lg text-black mb-4 text-base border-0" type="text" formControlName="color" placeholder="Azul platino"></ion-input>
            <div class="flex justify-center">
              <ion-button [disabled]="credentials.invalid" type="submit" class="mb-3">Crear</ion-button>
            </div>
          </div>
        </form>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
